Workflows/EmployeeOnboardingNotifications-5D0BA4F9-429F-F011-BBD2-002248D4D23B.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "contoso_sharedcommondataserviceforapps_a075f"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoffice365_665f0"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "9b978185-b181-46a9-b3ed-a00bdbb86aee"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 7,
              "subscriptionRequest/entityname": "cr7fd_employeeonboarding",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_a_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "61ca9ace-2b1f-440f-9440-a017549b9ebe"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "processstages",
              "recordId": "@triggerOutputs()?['body/_activestageid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_a_row_by_ID_2": {
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fc315385-cca4-48b5-b592-03eb4dc8806e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cr7fd_employeeonboardings",
              "recordId": "@triggerOutputs()?['body/_activestageid_type']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Switch": {
          "runAfter": {
            "Get_a_row_by_ID_2": [
              "Succeeded"
            ]
          },
          "cases": {
            "Employee_Resources": {
              "case": "Employee Resources",
              "actions": {
                "Send_an_email_(V2)": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "51930793-cbbc-4d0e-968d-e9d31fef7fef"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "Suganya.Sengodan@cognizant.com",
                      "emailMessage/Subject": "Welcome @{outputs('Get_a_row_by_ID_2')?['body/cr7fd_employeename']} to our company",
                      "emailMessage/Body": "<p>Hi &nbsp;Team,<br>\nWe have recently joined by @{outputs('Get_a_row_by_ID_2')?['body/cr7fd_employeename']}.Please proceed to add them into AD,Access,etc.<br>\n<br>\nRegards,<br>\nHR Dept.</p>",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            }
          },
          "default": {
            "actions": {}
          },
          "expression": "@outputs('Get_a_row_by_ID')?['body/stagename']",
          "metadata": {
            "operationMetadataId": "f2a65d7a-cfa4-4430-a8a8-db051480256b"
          },
          "type": "Switch"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}